body {
    margin: 0;
    min-height: 100vh;
    background:
    radial-gradient(circle at center, rgba(255,255,255,0.06), transparent 60%),
    repeating-linear-gradient(
    0deg,
    rgba(0,0,0,0.03),
    rgba(0,0,0,0.03) 1px,
    transparent 1px,
    transparent 2px
    ),
    linear-gradient(135deg, #5a0f1b, #8b1e2d, #4a0d17);
}